nav {
  background: #8D73FA;
  width: 195px;
  height: 100%;

  ul {

    li {
      padding: 12px 25px;

      &:nth-child(2){
        margin-top: 4px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      a {
        display: block;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}