<div class="scroll">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency: 'AOA' }}</td>
        <td>
          <button class="btn">Edite</button>
          <button class="btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>