table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px #ddd;

  tr {
    &:nth-child(2n) {
      background: #eee;
    }

    th {
      border-bottom: 2px solid #ddd;
      text-align: left;
      color: #5a5a5a;
    }
    
    td,
    th {
      padding: 8px;
      
      &:first-child {
        width: 50px;
        text-align: center;
      }
    }
    
  }
}
