.scroll {
  height: calc(100vh - 150px);
  overflow: hidden scroll;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px #ddd;

  tr {

    &:nth-child(2n) {
      background: #eee;
    }

    th {
      border-bottom: 2px solid #ddd;
      text-align: left;
      color: #5a5a5a;
    }
    
    td,
    th {
      padding: 8px;
      
      &:first-child {
        width: 50px;
        text-align: center;
      }
      
      &:last-child {
        width: 200px;
        text-align: center;
      }
    }
  }
}

.btn {
  color: #fff;
  padding-block: 10px;
  background: #3434e6;
  
  + .btn {
    background: #f83434;
    margin-left: 8px;
  }
}