.container {
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px) 0;
  grid-template-columns: 195px 1fr;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.router {
  grid-row-start: 3;
}